<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<div class="container">
  <div class="col-sm-4 col-sm-offset-4">
    <form>
      <h1 class="text-center page-title">Login</h1>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="login-from-input">
      </div>
      <div class="form-group">
        <div>
          <label>Password</label>
        </div>
        <input type="password" class="login-from-input password-input">
      </div>
      <div class="form-group">
        <input type="submit" class="login-btn" />
      </div>
      <div class="form-group form-footer">
        <p>Dont have an account? <a href="" title="">Create Account</a></p>
        <p><a href="" title="">Forgot Password?</a></p>
      </div>
    </form>
  </div>
</div>
